@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@layer base {
  :root {
    --accent: 0, 122, 255;
  }
}

html {
  font-family: "Inter", sans-serif;
}

.form-input {
  @apply outline-none rounded-md bg-gray-100 w-full h-8 px-2 text-sm focus:ring-2 ring-accent/50;
}

.form-button {
  @apply px-3 py-1.5 text-sm rounded-md border-[2px] bg-white border-gray-200 hover:border-accent hover:bg-accent transition-colors hover:text-white font-semibold text-gray-500;
}

.draggable {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.auth-frame {
  @apply w-screen h-screen bg-white overflow-hidden p-0 xs:p-[52px] grid place-items-center draggable;
}

.auth-container {
  @apply no-drag w-full max-w-4xl h-full xs:max-h-[600px] xs:min-h-[376px] border-0 box-border bg-white xs:border-[2px] border-gray-200 rounded-none xs:rounded-2xl pt-[52px] xs:p-0;
}

.error-alert {
  @apply w-full box-border border-[2px] border-red-400 bg-red-100 text-red-400 text-sm px-1 py-0.5 rounded-md flex items-center gap-1;
}

.success-alert {
  @apply w-full box-border border-[2px] border-green-400 bg-green-100 text-green-400 text-sm px-1 py-0.5 rounded-md flex items-center gap-1;
}
