@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: 0, 122, 255;
  }
  html {
    font-family: "Inter", sans-serif;
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.CircularProgressbar {
  @apply w-full align-middle;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: rgb(var(--accent));
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  @apply stroke-gray-200;
  stroke-linecap: round;
}